{% extends 'website/base.html' %}
{% block content %}
{% load static %}

<style>

    .intro p {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        margin: 0 auto; /* Add margin-bottom to create space between text and image */
        color: black;
        width: 75%;
    }

     video {
            position: fixed; /* Change from absolute to fixed */
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
        }

    /* Additional style to remove margin and padding from body and HTML */
    body, html {
        margin: 0;
        padding: 0;
    }

</style>

<!--<video autoplay muted loop>-->
<!--    <source src="{% static 'media/about me.mp4' %}" type="video/mp4" height="100">-->
<!--</video>-->

<img src="{% static 'media/pic.png' %}" alt="Uday Vikram Singh"
     class="img-responsive rounded-circle center-block d-block mx-auto mb-20" height="350" width="350" style="margin-top: 10px;margin-bottom: 50px;">

<div class="container">
    <div class="row">
        <div class="intro">
            <p>Hey there! I'm Uday Vikram Singh, a passionate Computer Science student at SRMCEM, Lucknow.
                I unravel the beauty of Data Structures and Algorithms as a DSA Instructor at Digipodium,
                merging theory with practical Python expertise and a flair for web development. <br><br>
                My goal? To simplify the complex, crafting elegant tech solutions that harmonize creativity with code in the ever-evolving tech landscape.
            </p>
        </div>
    </div>
</div>

{% endblock content %}