<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uday's Portfolio</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        video {
        position: fixed; /* Change from absolute to fixed */
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
    }

    /* Additional style to remove margin and padding from body and HTML */
    body, html {
        margin: 0;
        padding: 10;
    }
    </style>

</head>
<body>

<video autoplay muted loop>
    <source src="{% static 'media/background_video.mp4' %}" type="video/mp4">
</video>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item">
          <p>Home</p>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about' %}"><img
                    src="{% static 'media/icons8-about-me-50.png' %}" alt="Linkedin" height="40" width="40">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'experience' %}"><img
                    src="{% static 'media/icons8-experience-48.png' %}" alt="Linkedin" height="38" width="38">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'projects' %}"><img
                    src="{% static 'media/icons8-projects-64.png' %}" alt="Linkedin" height="37" width="37">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'contact' %}"><img
                    src="{% static 'media/icons8-mail-50.png' %}" alt="Linkedin" height="44" width="44">
          </a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.linkedin.com/in/uday-vikram-singh/"><img
                    src="{% static 'media/icons8-linkedin-48.png' %}" alt="Linkedin" height="32" width="32"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://github.com/udaysingh21"><img
                    src="{% static 'media/git1.png' %}" alt="GitHub" height="35" width="35"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://twitter.com/UdayvikramSing8"><img
                    src="{% static 'media/icons8-twitter-48.png' %}" alt="Twitter" height="35" width="35"></a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://www.instagram.com/vikramudayyyy/"><img
                    src="{% static 'media/icons8-instagram-48.png' %}" alt="Instagram" height="33" width="33"></a>
            </li>
        </ul>
    </div>


</nav>


{% block content %}

{% endblock content %}

</body>
</html>