path/to/background_video.mp4 filter=lfs diff=lfs merge=lfs -text
PORTFOLIO/Portfolio/media/background_video.mp4 filter=lfs diff=lfs merge=lfs -text
Portfolio/website/static/media/background_video.mp4 filter=lfs diff=lfs merge=lfs -text
